@import "home";

.resp-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button {
  text-decoration: none;
  background-color: #22A1EE;
  color: white;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button:hover {
  text-decoration: none;
  background-color: #FFD0A3;
  color: #9B7E63;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
}

.container {
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.container-row {
  margin-right: 30px !important;
  margin-left: 30px !important;
}

.container h1 {
  padding-bottom: 20px;
  font-family: 'Prompt', sans-serif;
  color: #22A1EE;
}

.container p {
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  color: #194797;
}
