<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <img src="https://res.cloudinary.com/dnzggrpqe/image/upload/v1593447062/GOSPA2_y9vtmy.png">
    </div>
  </div>

  <div class="row row justify-content-center">
    <div class="row col-sm-4">
      <h1>Qu'est-ce que la Gospa veut me dire aujourd'hui?</h1>
      <p><%=  @message.description %></p>
      <%= link_to "Découvrir un autre message", root_path, class: "button" %>
    </div>
  </div>

</div>



