<div class="container">
  <div class="cat1">
    <h1>Qu'est-ce que la Gospa veut me dire aujourd'hui?</h1>

    <a><% @messages.each do |message| %>
    <%= @messages.sample.first %>
    <% end %>Lancer la recherche</a>
  </div>

  <div class="cat2 image-bg">
  </div>
</div>






